<div>
  <mat-card>
  <mat-card-subtitle *ngIf="!qService.domainPhase">Question #{{qService.QUESTIONNAIRE.currentQuestionIndex+1}}</mat-card-subtitle>
  <mat-card-subtitle>Category: {{qItem.domainLabel}}</mat-card-subtitle>
  <mat-card-title>{{qItem.questionLabel}}</mat-card-title>

    <search-question *ngIf="qItem.answerType==SEARCHSELECTION" [qItem]="qItem"></search-question>

    <singleselection-question *ngIf="qItem.answerType==SINGLESELECTION" [qItem]="qItem"></singleselection-question>

    <valueinsert-question *ngIf="qItem.answerType==VALUEINSERT" [qItem]="qItem"></valueinsert-question>

    <multiselect-question *ngIf="qItem.answerType==MULTISELECTION" [qItem]="qItem"></multiselect-question>


</mat-card>
</div>

