<mat-card-content>

  <mat-input-container>
    <div *ngIf="insertService.csFields[i].answerDatatype == insertService.variables.getNumericDatatypeURI(); then numericBlock else stringBlock"></div>
    <ng-template #numericBlock>
    <input matInput placeholder="Insert your number here" value="" [(ngModel)]="answerValue" (keyup)="handleOperationsSingleSelect(answerValue)" type="number" required >
    </ng-template>
    <ng-template #stringBlock>
      <input matInput placeholder="Insert your value here" value="" [(ngModel)]="answerValue" (keyup)="handleOperationsSingleSelect(answerValue)" required >
    </ng-template>

  </mat-input-container>

  <!--<p>Please select the comparison<br>operation of your entered value.</p>
  <p><mat-radio-group class="radio-group">
    <div *ngFor="let cItem of element.comparisonOperationAnswer">
      <mat-radio-button class="radio-button"
                       [value]="cItem.answerID"
                       (click)="handleOperationsSingleSelect(cItem.answerID)">
        {{cItem.answerLabel}}
      </mat-radio-button>
    </div>
  </mat-radio-group>
  </p><!-->
</mat-card-content>