<mat-card-content>
<mat-input-container>
    <input matInput placeholder="search" (keyup)="search(givenAnswer.answerLabel)" [(ngModel)]="givenAnswer.answerLabel" required>
  </mat-input-container>
  <mat-nav-list>
    <mat-list-item *ngFor="let item of (qService.searchResults$ | async)">
      <a mat-line (click)="handleSearchSelect(item)">{{ item.label }}</a>
    </mat-list-item>
  </mat-nav-list>

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="qService.domainPhase == false && qService.QUESTIONNAIRE.currentQuestionIndex >= 1" mat-raised-button mat-button (click)="previousQuestion()">Back</button>
    <button mat-raised-button mat-button (click)="nextQuestion()" [disabled]="givenAnswer.answerID == undefined" >Next</button>
  </mat-card-actions>
